.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  background-color: var(--background-color);
}
.dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 4px solid black;
  position: relative;
}
.dev ul {
  display: flex;
  gap: 1px;
}
.dev .logo {
  width: 28%;
}
.dev  .a {
  display:flex;
  cursor: pointer;
  font-weight: bold;
  font-size: .9rem;
  transition: 0.2s;
}
.dev .a.active {
  background-color: var(--main-color);
  color: var(--background-color);
}
.dev li .a i {
  font-weight: normal;
  padding-right: 8px;
}
.loading {
  opacity: 0;
  transition: all .5s ease-in-out;
}
.loaded {
  opacity: 1;
  transition: all .5s ease-in-out;
}
.dev .icon {
  display: none;
  font-size: 2.5rem;
  transition: .3s;
  position: relative;
  z-index: 3;
}
.image {
  width: 100%;
  object-fit: contain;
}
.dev .icon.open {
  transform: rotate(180deg);
}
@media (max-width: 991px) {
  .dev .icon{
    display: block;
  }
}
@media (max-width: 767px) {
  .dev .logo {
    width: 50%;
  }
}
