.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  background-color: var(--background-color);
}
.dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 4px solid black;
  
}
.dev i {
  
}
.dev ul {
  display: flex;
  gap: 1px;
}
.dev  a {
  display:flex;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: .9rem;
  transition: 0.2s;
}
.dev a.active {
  background-color: var(--main-color);
  color: var(--background-color);
}
.dev li a i {
  font-weight: normal;
  padding-right: 8px;
}
.loading {
  top: -100%;
  transition: all .5s ease-in-out;
}
.loaded {
  top: 0;
  transition: all .5s ease-in-out;
}