
/* #sum-numbers {
  color: blue;
  font-size: 5rem;
} */
.progress {
  position: fixed;
  background-color: var(--secondary-color);
  top: 0;
  left: -100vw;
  width: 200vw;
  height: 5px;
  z-index: 11;
}
.blogHeading {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}
.blog {
  margin-top: 7rem;
  padding: 0 200px;
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  .blog {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .blog {
    padding: 0;
  }
}