.dev {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 5rem 0;
}
.dev .imageContainer{
  max-width: 50%;
  position: relative;
}
.dev .text h2 {
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 3rem;
}
.dev .text h2::after{
  content: "";
  position: absolute;
  width: 150px;
  height: 6px;
  background-color: black;
  left: 0;
  bottom: -12px;
}
@media (max-width: 991px) {
  .dev .text h2 {
    font-size: 2.1rem;
  }
}
@media (max-width: 767px) {
  .dev {
    flex-direction: column;
    gap: 20px;
  }
  .dev .imageContainer {
    max-width: 100%;
  }
  .dev .text h2 {
    font-size: 1.9rem;
    margin-bottom: 30px;
  }
}
